<% @job_posts.each do |job_post| %>
  <ul class="list-group">
    <li class="list-group-item">
    <% if job_post.rejected? %>
      <h2 class="list-group-item-heading"><strike><%= job_post.title %></strike></h2>
    <% else %>
      <h2 class="list-group-item-heading"><%= job_post.title %></h2>
    <% end %>

    <% if job_post.not_approved? %>
      <%= link_to('Approve', {action: :approve, id: job_post.id}, method: :put, class: "btn btn-primary") %>
      <%= link_to('Reject', {action: :reject, id: job_post.id}, method: :put, class: "btn btn-danger") %>
    <% elsif job_post.approved? %>
      <%= link_to('Hide', {action: :hide_or_show, id: job_post.id}, method: :put, class: "btn btn-danger") %>
    <% elsif job_post.hidden? %>
      <%= link_to('Show', {action: :hide_or_show, id: job_post.id}, method: :put, class: "btn btn-primary") %>
    <% elsif job_post.rejected? %>
      <%= link_to('Approve', {action: :approve, id: job_post.id}, method: :put, class: "btn btn-primary") %>
    <% end %>
    </li>
  </ul>

<% end %>
