<ul class="nav nav-tabs nav-justified">
  <li><a href="/">All Jobs</a></li>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, url_for(params.merge(:category => category.id)) %></li>
  <% end %>
</ul>

<ul class="nav nav-pills">
  <% @job_types.each do |job_type| %>
    <li><%= link_to job_type.name, url_for(params.merge(:job_type => job_type.id)) %></li>
  <% end %>
</ul>

<div class="list-group job-posts">
    <% @job_posts.each do |job_post| %>
        <%= link_to job_post, :class => 'list-group-item' do %>
            <div class="job-post-heading">
                <h4 class="job-post-title"><%= job_post.title %></h4>
                <span class="job-post-type"><%= job_post.job_type.name %></span>
            </div>
            <p class="list-group-item-text">
                <span class="job-post-company">Company</span>
                <span class="job-post-location">(Location, LO)</span>
            </p>
        <% end %>
    <% end %>
</div>
