<%= simple_form_for(@job_post) do |f| %>
<%= f.input :title, input_html: { class: 'form-control' } %>
<%= f.input :description, input_html: { class: 'form-control' } %>
<%= f.input :due_date, input_html: { class: 'form-control date-fragment' } %>
<%= f.input :category, as: :select, collection: @categories, input_html: { class: 'form-control date-fragment' }  %>
<%= f.input :tag_list, label: "Tags (separated by commas)", input_html: { class: 'form-control' } %>
<div class="form-group">
    <%= f.button :submit, class: 'btn btn-primary' %>
</div>
<% end %>
