<h1><%= @job_post.title %></h1>

<div class="post-description"><%= @job_post.description %></div>

<%= simple_form_for(@job_application, :html => { :class => 'form-horizontal' }) do |f| %>

<h2>Apply for this position</h2>
<%= f.input :applicant_first_name, label_html: { class: 'col-sm-2' }, input_html: { class: 'form-control' } %>
<%= f.input :applicant_last_name, label_html: { class: 'col-sm-2' }, input_html: { class: 'form-control' } %>
<%= f.input :applicant_email, label_html: { class: 'col-sm-2' }, input_html: { class: 'form-control' } %>
<%= f.input :cover_letter, label_html: { class: 'col-sm-2' }, input_html: { class: 'form-control' } %>
<%= f.input :resume, label_html: { class: 'col-sm-2' }, input_html: { class: 'form-control' } %>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
</div>

<% end %>
