<% if admin_signed_in? %>
    <% if @job_post.not_approved? %>
        <%= link_to('Approve', approve_admin_job_post_url(@job_post), method: :put, class: "btn btn-primary") %>
        <%= link_to('Reject', reject_admin_job_post_url(@job_post), method: :put, class: "btn btn-danger") %>
    <% elsif @job_post.approved? %>
        <%= link_to('Hide', hide_or_show_admin_job_post_url(@job_post), method: :put, class: "btn btn-danger") %>
    <% elsif @job_post.hidden? %>
        <%= link_to('Show', hide_or_show_admin_job_post_url(@job_post), method: :put, class: "btn btn-primary") %>
    <% elsif @job_post.rejected? %>
        <%= link_to('Approve', approve_admin_job_post_url(@job_post), method: :put, class: "btn btn-primary") %>
    <% end %>
<% end %>

<h1><%= @job_post.title %></h1>

<div class="post-description"><%= BlueCloth.new(@job_post.description).to_html.html_safe %></div>

<% if @job_post.tag_list.present? %>
  <p>Tags: <%= raw @job_post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
<% end %>

<%= simple_form_for(@job_application) do |f| %>

<div class="well">
<h2>Apply for this position</h2>
<%= f.input :applicant_first_name, input_html: { class: 'form-control' } %>
<%= f.input :applicant_last_name, input_html: { class: 'form-control' } %>
<%= f.input :applicant_email, input_html: { class: 'form-control' } %>
<%= f.input :cover_letter, input_html: { class: 'form-control' } %>
<%= f.input :resume, input_html: { class: 'form-control' } %>
<div class="form-group">
    <div>
        <%= f.button :submit, 'Submit your application', class: 'btn btn-primary' %>
    </div>
</div>
</div>

<% end %>
