
<p><%= @job_post.title %></p>

<p><%= @job_post.description %></p>

<%= simple_form_for @job_application do |f| %>

  <%= f.input :applicant_first_name %>
  <%= f.input :applicant_last_name %>
  <%= f.input :applicant_email %>
  <%= f.input :cover_letter %>
  <%= f.input :resume %>
  <%= f.button :submit %>

<% end %>
