<% if admin_signed_in? %>
    <% if @job_post.not_approved? %>
        <%= link_to('Approve', activate_admin_job_post_url(@job_post), method: :put, class: "btn btn-primary") %>
        <%= link_to('Reject', reject_admin_job_post_url(@job_post), method: :put, class: "btn btn-danger") %>
    <% elsif @job_post.active? %>
        <%= link_to('Hide', hide_or_show_admin_job_post_url(@job_post), method: :put, class: "btn btn-danger") %>
    <% elsif @job_post.hidden? %>
        <%= link_to('Show', hide_or_show_admin_job_post_url(@job_post), method: :put, class: "btn btn-primary") %>
    <% elsif @job_post.rejected? %>
        <%= link_to('Approve', activate_admin_job_post_url(@job_post), method: :put, class: "btn btn-primary") %>
    <% end %>
<% end %>

<h1><%= @job_post.title %></h1>

<h3><%= @job_post.company %></h3>

<div class="post-description"><%= BlueCloth.new(@job_post.description).to_html.html_safe %></div>

<% if @job_post.tag_list.present? %>
  <p>Tags: <%= raw @job_post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
<% end %>

<div class="well">
    <h3>How to apply:</h3>
    <div class="post-description"><%= BlueCloth.new(@job_post.how_to_apply).to_html.html_safe %></div>
</div>
