<div class="list-group job-posts">
    <% @job_posts.each do |job_post| %>
      <ul class="list-group">
        <li class="list-group-item">
        <% if job_post.rejected? %>
          <h2 class="list-group-item-heading"><strike><%= job_post.title %></strike></h2>
        <% else %>
          <h2 class="list-group-item-heading"><%= link_to job_post.title, job_post %></h2>
        <% end %>

        <% if job_post.active? %>
          <span title="<%= job_post.expires_at.strftime("%a, %B %d %Y") %>" ><%= expiry_info(job_post) %></span>
        <% else %>
          <h4><span class="label label-warning">HIDDEN</span></h4>
        <% end %>
        </li>
      </ul>
    <% end %>
    <%= will_paginate %>
</div>
