<%= simple_form_for(@category, :html => { :class => 'form-horizontal' }, url: admin_categories_path, method: :post ) do |f| %>
<%= f.input :name, input_html: { class: 'form-control' } %>
<div class="form-group">
    <div>
        <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
</div>
<% end %>

<div class="list-group">
    <% @categories.each do |category| %>
      <li><%= category.name %> | <%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
</div>
