<header>
    <div class="container">
        <div class="row">
            <a class="col-md-5" href="/"><%= image_tag("llc-jobs-logo.png", class: "logo-llc img-responsive", alt: "Ladies Learning Code") %></a>
            <nav class="col-md-7">
                <ul class="nav nav-pills">
                    <li><a href="/">All Jobs</a></li>
                    <li><a href="/job_posts/new">Post a Job</a></li>
                    <% if admin_signed_in? %>
                        <li><a href="/admin/dashboard">Dashboard</a></li>
                        <li><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></li>
                    <% else %>
                        <% if user_signed_in? %>
                            <li><%= link_to('My Posts', user_posts_job_posts_path) %></li>
                            <li><%= link_to('Account', edit_user_registration_path) %></li>
                            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                        <% else %>
                            <li><%= link_to('Sign in', new_user_session_path) %></li>
                        <% end %>
                    <% end %>
                </ul>
            </nav>
        </div>
    </div>
</header>
