<!DOCTYPE html>
<html>
<head>
  <title>LlcJobboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
</head>
<body>

<%= render "layouts/header" %>

<div class="container">
    <div class="<%= content_col_class %>">
        <% if admin_area? %>
          <ul class="nav nav-tabs admin-nav">
            <li><%= link_to 'Dashboard', :admin_dashboard %></li>
            <li><%= link_to 'Job Posts', :admin_job_posts %></li>
          </ul>
        <% end %>

        <%= yield %>
    </div>
    <aside class="sidebar col-sm-3">
        <h2>I am a fake sidebar</h2>
        <div id="tag_cloud">
          <% tag_cloud JobPost.tag_counts, %w{s m l} do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
        </div>
    </aside>

</div>

</body>
</html>
