<!DOCTYPE html>
<html>
<head>
  <title>LlcJobboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render "layouts/header" %>

<div class="container">
    <div class="<%= content_col_class %>">
        <% if admin_area? %>
        <p><%= link_to 'Dashboard', :admin_dashboard %> | <%= link_to 'Job Posts', :admin_job_posts %></p>
        <% end %>

        <% if employer_signed_in? %>
        Employer logged in
        <% end %>

        <%= yield %>
    </div>
    <aside class="sidebar col-sm-3">
        <h2>I am a fake sidebar</h2>
    </aside>

</div>

</body>
</html>
