<!DOCTYPE html>
<html>
<head>
  <title>LlcJobboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
</head>
<body>

<%= render "layouts/header" %>

<div class="container">
    <div class="<%= content_col_class %>">
        <% if admin_area? %>
          <ul class="nav nav-tabs admin-nav">
            <li><%= link_to 'Dashboard', :admin_dashboard %></li>
            <li><%= link_to 'Job Posts', :admin_job_posts %></li>
            <li><%= link_to 'Categories', :admin_categories %></li>
            <li><%= link_to 'Job Types', :admin_job_types %></li>
          </ul>
        <% end %>
        <%= render 'layouts/messages' %>
        <%= yield %>
    </div>
    <% unless admin_area? %>
      <aside class="sidebar col-sm-3">
          <div class="well post-a-job">
            <h4><strong>$30</strong> for <strong>30</strong> days</h3>
            <p>All proceeds support Ladies Learning Code.</p>
            <a href="/job_posts/new" class="btn btn-primary btn-lg" role="button">Post a Job</a>
          </div>
          <div id="tag_cloud">
            <h2>Tags</h2>
            <% tag_cloud JobPost.tag_counts, %w{s m l} do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.name), class: css_class %>
            <% end %>
          </div>
      </aside>
    <% end %>

</div>

</body>
</html>
