<!DOCTYPE html>
<html>
<head>
  <title>LlcJobboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Trocchi' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="container">
    <header>
        <div class="row">
            <img class="logo-llc col-xs-12" src="/assets/LLC-jobsHeader.png" alt="Ladies Learning Code"/>
        </div>
        <div class="row">
            <nav class="col-xs-12">
                <ul class="nav nav-pills pull-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/job_posts/new">Add Job Post</a></li>
                    <% if user_signed_in? %>
                    <li>Welcome <%= current_user.email %> <%= link_to('Logout?', destroy_user_session_path, :method => :delete) %></li>
                    <% else %>
                    <li><%= link_to('Register', new_user_registration_path) %></li>
                    <% end %>
                    <% if employer_signed_in? %>
                    <li>Welcome <%= current_employer.email %> <%= link_to('Logout?', destroy_employer_session_path, :method => :delete) %></li>
                    <% end %>
                </ul>
            </nav>
        </div>
    </header>

    <% if admin_area? %>
      <p><%= link_to 'Dashboard', :admin_dashboard %> | <%= link_to 'Job Posts', :admin_job_posts %></p>
    <% end %>

    <% if employer_signed_in? %>
    Employer logged in
    <% end %>

    <%= yield %>

</div>

</body>
</html>
